<p id="notice"><%= notice %></p>

<h3>Barony of Cynnabar Officers</h3>

<% @offices.each do |office| %>
  <div class="office_listed" id="office<%= office.id %>">
    <a href=<%= url_for(office.page) %>>
      <img src="<%= office.image %>" class="office_icon_small">
    </a>

    <div class="office_info">
      <span class="office_name">
        <% if office.page %>
          <%= link_to office.name, url_for(office.page) %>
        <% else %>
          <%= office.name %>
        <% end %>
      </span>

      <br />

      <span class="officer_name">
        <%= link_to office.officer_name, office.email %>
      </span>

      <% if can? :edit, office %>
        <br />
        <%= link_to edit_office_path(office) %>
      <% end %>
    </div>

  </div>
<% end %>

<br />

<% if can? :create, Office %>
  <%= link_to 'New Office', new_office_path %>
<% end %>
