<%= form_for(@recipient) do |f| %>

  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sca_name, "SCA name" %><br>
    <%= f.text_field :sca_name %>
  </div>
  <div class="field">
    <%= f.label :pronouns, "Preferred Pronouns" %><br>
    <%= f.text_field :pronouns %>
  </div>
  <div class="field">
    <%= f.label :mundane_name %><br>
    <%= f.text_field :mundane_name %>
  </div>
  <div class="field">
    <%= f.label :also_known_as %><br>
    <%= f.text_field :also_known_as %>
  </div>
  <div class="field">
    <%= f.label :formerly_known_as %><br>
    <%= f.text_field :formerly_known_as %>
  </div>
  <div class="field">
    <%= f.label :is_group, "Group?" %>
    <%= f.check_box :is_group %>
  </div>
  <div class="field">
    <%= f.label :heraldry %>
    <%= f.file_field :heraldry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
