<h1>Order of Precedence (By Name)</h1>

<%= render 'update_oop' %>

<p><a href="javascript:expandAll()">Expand All</a> | <a href="javascript:collapseAll()">Collapse All</a></p>

<% @recipients.each do |recipient| %>
    <h4><%= link_to recipient, recipient %></h4>
    <% if can? :edit, recipient %>
      <%= link_to 'Edit', edit_recipient_path(recipient) %>
    <% end %>
    <% if can? :delete, recipient %>
      <%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <!-- <%= render partial: 'awards_collapse', locals: {recipient: recipient} %> -->
<% end %>

<br>

<% if can? :create, Recipient %>
  <%= link_to 'New Recipient', new_recipient_path %>
<% end %>
