<p id="notice"><%= notice %></p>

<h3><%= @recipient %></h3>

<%= render partial: 'awards', locals: {recipient: @recipient} %>

<% if can? :create, Awarding  %>
  <%= link_to 'Add Award', new_awarding_path(recipient_id: @recipient) %> | 
<% end %>
<% if can? :edit, @recipient %>
  <%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<% end %>
