<h3><%= @recipient %></h3>

<%= render partial: 'awards_table', locals: {recipient: @recipient} %>

<% if can? :create, Awarding  %>
  <%= link_to 'Add Award', new_awarding_path(recipient_id: @recipient) %> | 
<% end %>
<% if can? :edit, @recipient %>
  <%= link_to 'Edit', edit_recipient_path(@recipient) %>
<% end %>

<p><%= render 'update_oop' %></p>

<p><%= link_to 'Show All Persons/Groups', recipients_path %>
