<%= render partial: 'heraldry', locals: {heraldic_object: @recipient} %>

<h3><%= @recipient %></h3>

<% if @recipient.pronouns %>
  <p><b>Preferred Pronouns:</b> <%= @recipient.pronouns %></p>
<% end %>

<% if @recipient.heraldry_blazon %>
  <p><i><%= @recipient.heraldry_blazon %></i></p>
<% end %>

<% if @recipient.mundane_bio || @recipient.sca_bio %>
  <h4>Biography</h4>
<% end %>

<% if @recipient.sca_bio %>
  <p><%= @recipient.sca_bio %></p>
<% end %>

<% if @recipient.mundane_bio %>
  <p><%= @recipient.mundane_bio %></p>
<% end %>

<% if @recipient.activities %>
  <h4>Activities and Interests</h4>
  <p><%= @recipient.activities %></p>
<% end %>

<% if @recipient.food_prefs %>
  <h4>Food Preferences</h4>
  <p><%= @recipient.food_prefs %></p>
<% end %>

<%= render partial: 'awards_table', locals: {recipient: @recipient} %>

<% if can? :create, Awarding  %>
  <%= link_to 'Add Award', new_awarding_path(recipient_id: @recipient) %> | 
<% end %>
<% if can? :edit, @recipient %>
  <%= link_to 'Edit', edit_recipient_path(@recipient) %>
<% end %>

<p><%= render 'application/update_oop' %></p>

<p><%= link_to 'Show All Persons/Groups', recipients_path %>
