<% if @body %>
  <h3>Page Preview</h3>
  <%== @body %>
<% end %>

<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <% if can? :set_owner, @page %>
    <%= f.label 'Owner' %>
    <%= f.collection_select(:user_id, User.order(:name), :id, :name) %>
  <% end %>

  <h4>Calendar info</h4>
  A calendar can be included in the page with the special markup <tt>&lt;-- CALENDAR --&gt;</tt>.
  Contact the Webminister to configure the calendar.
  <div class="field">
    <%= f.label :calendar %>
    <%= f.text_field :calendar %>
  </div>
  <div class="field">
    <%= f.label :calendar_title %>
    <%= f.text_field :calendar_title %>
  </div>
  <div class="field">
    <%= f.label :calendar_details %>
    <%= f.check_box :calendar_details %>
  </div>

  <h4>Page Body</h4>
  <div class="field">
    <% if @body %>
      <%= f.cktext_area :body, :value => @body %>
    <% else %>
      <%= f.cktext_area :body %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Preview' %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
