<div class="container-fluid" style="margin-bottom:20px">
  <div class="row">
    <div class="col-sm-6" >
       <span> <img src="<%= office.image %>" width="70" height="70" alt="<%= office.name %>" border="0"></span>
        <div style="display:inline-block;vertical-align:middle">
          <font size="+1">Office of the</font> <br>
          <font size="+2"> <b><%= office.name %></b> </font>
        </div>
    </div>
    <div class="col-sm-6" style="text-align:right;">
      <b><%= office.officer_name %></b>
      <br>
      <b> <%= mail_to office.email, "Contact", encode: 'javascript' %> </b>

    </div>
  </div>
</div>
