<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="margin-bottom:20px">
       <span> <img src="<%= office.image %>" width="70" height="70" alt="<%= office.name %>" border="0"></span>
        <div style="display:inline-block;vertical-align:middle"><font size="+1">Office of the</font> <br><font size="+2"> <b><%= office.name %></b> </font></div>
      </div>
      <div class="col-md-6" style="text-align:right;">
        <b><%= office.officer_name %></b>
        <br>
        <b> <a href="mailto:<%= office.email%>"><%= office.email%></a> </b>

    </div>
  </div>
</div>
