<table class="awards">
<tr>
  <th>Name</th>
  <th>Date Received</th>
</tr>
<% award.awardings.order(:received).each do |awarding| %>
  <tr>
    <td><%= link_to awarding.recipient, awarding.recipient %></td>
    <td class="date-cell"><%= awarding.received %></td>

    <td><%= link_to 'Details', awarding_path(awarding) %></td>

    <% if can? :edit, awarding %>
      <td><%= link_to 'Edit', edit_awarding_path(awarding) %></td>
    <% end %>

    <% if can? :delete, awarding %>
      <td><%= link_to 'Delete', awarding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>

</table>
