<h1>Order of Precedence (By Award)</h1>

<%= render 'update_oop' %>

<!-- <p><a href="javascript:expandAll()">Expand All</a> | <a href="javascript:collapseAll()">Collapse All</a></p> -->

<% @awards.each do |award| %>
    <h4><%= link_to award.name, award %></h4>

    <p> <i><%= award.description %></i> </p>
  <% if can? :update, award %>
    <%= link_to 'Edit', edit_award_path(award) %>
  <% end %>
  <% if can? :delete, award %>
    <%= link_to 'Destroy', award, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<% end %>

<br>

<% if can? :create, Award %>
  <%= link_to 'New Award', new_award_path %>
<% end %>
