<p id="notice"><%= notice %></p>

<h3><%= @award %></h3>

<p><i><%= @award.description %></i></p>

<%= render partial: 'recipients_table', locals: {award: @award} %>

<% if can? :create, Awarding %>
  <%= link_to 'Add Recipient', new_awarding_path(award_id: @award) %> | 
<% end %>
<% if can? :edit, @award %>
  <%= link_to 'Edit', edit_award_path(@award) %> |
<% end %>
