<% if @award.heraldry.exists? %>
  <%= link_to(@recipient.heraldry.url) do %>
    <%= image_tag @award.heraldry.url, class: 'heraldry' %>
  <% end %>
<% end %>

<h3><%= @award %></h3>
<%= render partial: 'details', locals: {award: @award} %>


<%= render partial: 'recipients_table', locals: {award: @award} %>


<% if can? :create, Awarding %>
  <%= link_to 'Add Recipient', new_awarding_path(award_id: @award) %> | 
<% end %>
<% if can? :edit, @award %>
  <%= link_to 'Edit', edit_award_path(@award) %> |
<% end %>

<p><%= render 'update_oop' %></p>

<p><%= link_to 'Show All Awards', awards_path %></p>
