<%= form_for(@awarding) do |f| %>
  <% if @awarding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@awarding.errors.count, "error") %> prohibited this awarding from being saved:</h2>

      <ul>
        <% @awarding.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <table class="awards">
    <tr>
      <th style="vertical-align: top">
        <%= f.label :recipient %>:
      </th>
      <td>
        <%= f.hidden_field :recipient_id %>
        <%= autocomplete_field_tag 'recipient_name', 
          @awarding.recipient ? @awarding.recipient.to_s : nil, 
          autocomplete_recipient_name_recipients_path, 
          :id_element => '#awarding_recipient_id',
          :"data-autocomplete-label" => "No matches",
          :size => 75 %> <br />
        <%= link_to 'Create new recipient', new_recipient_path %>
    </td>
    </tr>

    <tr>
      <th>
        <%= f.label :award_id %>:
      </th>
      <td>
        <%= f.hidden_field :award_id %>
        <%= autocomplete_field_tag 'award_name', 
          @awarding.award ? @awarding.award.name : nil, 
          autocomplete_award_name_awards_path, 
          :id_element => '#awarding_award_id',
          :size => 75 %>
    </td>
    </tr>

    <tr>
      <th>    <%= f.label :received %>: </th>
      <td>    <%= f.text_field 'received', class: 'datepicker' %></td>
    </tr>

    <tr>
      <th>  <%= f.label :award_text %>: </th>
      <td>  <%= f.text_area 'award_text' %> </td>
    <tr>
      <td>  Is other/foreign award? </td>
      <td>  <%= check_box_tag 'other_award', '1', (@awarding.award ? @awarding.award.other_award? : false) %> </td>

    <tr>
      <td>  <%= f.label :award_name %> (for foreign &amp; 'other' awards only) </td>
      <td>  <%= f.text_field 'award_name' %></td>
    </tr>

    <tr>
      <td>  <%= f.label :group_id %> (for foreign awards only, including AoAs, GoAs, and peerages): </td>
      <td>  <%= f.collection_select(:group_id, Group.all, :id, :name) %> </td>
    </tr>

  </table>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
