<%= form_for(@awarding) do |f| %>
  <% if @awarding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@awarding.errors.count, "error") %> prohibited this awarding from being saved:</h2>

      <ul>
        <% @awarding.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <table class="awards">
    <tr>
      <th style="vertical-align: top">
        <%= f.label :recipient %>:
      </th>
      <td>
        <%= f.hidden_field :recipient_id %>
        <%= autocomplete_field_tag 'recipient_name', 
          @awarding.recipient ? @awarding.recipient.to_s : nil, 
          autocomplete_recipient_name_recipients_path, 
          :id_element => '#awarding_recipient_id',
          :"data-autocomplete-label" => "No matches",
          :size => 75 %> <br />
        <%= link_to 'Create new recipient', new_recipient_path %>
    </td>
    </tr>

    <tr>
      <th>
        <%= f.label :award_id %>:
      </th>
      <td>
        <%= f.hidden_field :award_id %>
        <%= autocomplete_field_tag 'award_name', 
          @awarding.award ? @awarding.award.name : nil, 
          autocomplete_award_name_awards_path, 
          :id_element => '#awarding_award_id',
          :size => 75 %>
    </td>
    </tr>

    <tr>
      <th>    <%= f.label :received %>: </th>
      <td>    <%= text_field_tag 'received', @awarding.received, class: 'datepicker' %></p>
    </tr>

  </table>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
