<p id="notice"><%= notice %></p>

<p>
  <strong>Award:</strong>
  <%= @awarding.award %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @awarding.recipient %>
</p>

<p>
  <strong>Granted by:</strong>
  <%= @awarding.group %>
</p>

<p>
  <strong>Received:</strong>
  <%= @awarding.received %>
</p>


<% if can? :edit, @awarding %>
  <%= link_to 'Edit', edit_awarding_path(@awarding) %> |
<% end %>
