<p id="notice"><%= notice %></p>

<p>
  <strong>Award:</strong>
  <%= link_to @awarding.award, award_path(@awarding.award) %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= link_to @awarding.recipient, recipient_path(@awarding.recipient) %>
</p>

<p>
  <strong>Granted by:</strong>
  <%= @awarding.group %>
</p>

<p>
  <strong>Received:</strong>
  <%= @awarding.received %>
</p>


<% if can? :edit, @awarding %>
  <%= link_to 'Edit', edit_awarding_path(@awarding) %>
<% end %>

<%= render 'update_oop' %>
