<p>
  <strong>Award:</strong>
  <%= link_to @awarding, award_path(@awarding.award) %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= link_to @awarding.recipient, recipient_path(@awarding.recipient) %>
</p>

<p>
  <strong>Granted by:</strong>
  <%= @awarding.group %>
</p>

<p>
  <strong>Received:</strong>
  <%= @awarding.received %>
</p>


<% if can? :edit, @awarding %>
  <p><%= link_to 'Edit', edit_awarding_path(@awarding) %></p>
<% end %>
<% if can? :create, Awarding %>
  <p><%= link_to 'Add Award Receipt', new_awarding_path %></p>
<% end %>

<p><%= render 'update_oop' %></p>
