<h3>
  <%= link_to @awarding, award_path(@awarding.award) %>
</h3>

<h4>
  Awarded to
  <%= link_to @awarding.recipient, recipient_path(@awarding.recipient) %>
</h4>

<h4>
  By the <%= @awarding.group %> on <%= @awarding.received %>
</h4>

<% if @awarding.award_text %>
  <p> <%= @awarding.award_text %> </p>
<% end %>


<% if can? :edit, @awarding %>
  <p><%= link_to 'Edit', edit_awarding_path(@awarding) %></p>
<% end %>
<% if can? :create, Awarding %>
  <p><%= link_to 'Add Award Receipt', new_awarding_path %></p>
<% end %>

<p><%= render 'update_oop' %></p>
